In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'donnee-reg-data.gouv-2023-geographie2024-produit-le2024-07-05.csv', sep=';')

In [3]:
df.sample(15)

,classe,annee,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
151,Coups et blessures volontaires,16,27,victime,16,16,8191,2818338,"1556407,5096725142","2,90632280443296720"
2139,Trafic de stupéfiants,22,84,Mis en cause,21,21,4642,8114361,"4619729,0582235549","0,57207215700657144"
53,Homicides,18,94,victime,18,18,10,338554,"252643,8620119126","0,02953738546878784"
2081,Trafic de stupéfiants,19,52,Mis en cause,19,19,1645,3806461,"2046976,3727753072","0,43215995119876444"
7,Homicides,16,27,victime,16,16,23,2818338,"1556407,5096725142","0,00816083805420074"
814,Vols avec armes,21,6,infraction,17,17,529,256518,"73880,0000000000","2,06223344950451848"
1707,Vols d'accessoires sur véhicules,22,84,véhicule,21,21,12770,8114361,"4619729,0582235549","1,57375300408744456"
676,Violences sexuelles,21,44,victime,21,21,7655,5561287,"2916177,9750270383","1,37647994070437307"
735,Vols avec armes,16,84,infraction,16,16,921,7916889,"4392425,9508986995","0,11633357496865246"
1245,Cambriolages de logement,21,4,infraction,21,21,843,871157,"395387,8663702943","2,13208363660432010"
349,Coups et blessures volontaires intrafamiliaux,19,27,victime,19,19,4638,2805580,"1579457,7892964906","1,65313411130675303"
1954,Escroqueries,20,44,victime,20,20,21284,5562651,"2895854,2807239317","3,82623321146697837"
1117,Vols sans violence contre des personnes,22,2,victime entendue,21,21,1806,360749,"218564,8921082807","5,00625088357833281"
1594,Vols d'accessoires sur véhicules,16,44,véhicule,16,16,5856,5555186,"2814199,5463479054","1,05415012206611980"
974,Vols violents sans arme,22,3,infraction,21,21,608,286618,"98634,2711460288","2,12129035859576165"

In [11]:
df.shape

(2304, 10)

In [4]:
df_grouped = df.groupby(['annee','classe', 'Code.région'])['faits'].sum()

In [5]:
# Convertir en DataFrame et nommer la colonne sommée
df_grouped = df_grouped.reset_index()  # Transformer l'index en colonnes
df_grouped.rename(columns={'faits': 'somme_faits'}, inplace=True)

In [29]:
display(df_grouped)

      annee                                 classe  Code.région  somme_faits
0        16  Autres coups et blessures volontaires            1         1555
1        16  Autres coups et blessures volontaires            2         1296
2        16  Autres coups et blessures volontaires            3         1256
3        16  Autres coups et blessures volontaires            4         2184
4        16  Autres coups et blessures volontaires            6         1114
...     ...                                    ...          ...          ...
2299     23                Vols violents sans arme           75         2719
2300     23                Vols violents sans arme           76         3847
2301     23                Vols violents sans arme           84         5486
2302     23                Vols violents sans arme           93         5573
2303     23                Vols violents sans arme           94           71

[2304 rows x 4 columns]

In [30]:
df_grouped.to_csv('Somme_des_faits.csv')

In [5]:
df_2 = df[df['unité.de.compte'] == "victime"]

In [6]:
df_2

,classe,annee,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
0,Homicides,16,1,victime,16,16,32,394110,"226105,0475677566","0,08119560528786381"
1,Homicides,16,2,victime,16,16,18,376480,"211621,3569881222","0,04781130471738206"
2,Homicides,16,3,victime,16,16,41,269352,"88454,0619228487","0,15221717306721316"
3,Homicides,16,4,victime,16,16,14,852924,"363111,0760629498","0,01641412364993833"
4,Homicides,16,6,victime,17,17,10,256518,"73880,0000000000","0,03898361908326121"
...,...,...,...,...,...,...,...,...,...,...
2011,Escroqueries,23,75,victime,21,21,35737,6069352,"3621477,7251206725","5,88810798912305611"
2012,Escroqueries,23,76,victime,21,21,37733,6022176,"3714368,6486880812","6,26567539706577747"
2013,Escroqueries,23,84,victime,21,21,48966,8114361,"4619729,0582235549","6,03448626453765069"
2014,Escroqueries,23,93,victime,21,21,35240,5127840,"3185126,3594264346","6,87228930699865881"
2015,Escroqueries,23,94,victime,21,21,1634,347597,"261675,5902918616","4,70084609475916082"

In [37]:
df_2.columns

Index(['classe', 'annee', 'Code.région', 'unité.de.compte', 'millPOP',
       'millLOG', 'faits', 'POP', 'LOG', 'tauxpourmille'],
      dtype='object')

In [7]:
df_2 = df_2.drop(columns= (['unité.de.compte', 'millPOP','millLOG','POP', 'LOG', 'tauxpourmille']))

In [41]:
df_2.to_csv('victimes.csv')

In [8]:
df_infraction = df[df['unité.de.compte'] == "infraction"]

In [46]:
df_infraction

,classe,annee,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
720,Vols avec armes,16,1,infraction,16,16,889,394110,"226105,0475677566","2,25571540940346615"
721,Vols avec armes,16,2,infraction,16,16,286,376480,"211621,3569881222","0,75966850828729282"
722,Vols avec armes,16,3,infraction,16,16,756,269352,"88454,0619228487","2,80673616680032056"
723,Vols avec armes,16,4,infraction,16,16,148,852924,"363111,0760629498","0,17352073572791948"
724,Vols avec armes,16,6,infraction,17,17,346,256518,"73880,0000000000","1,34883322028083819"
...,...,...,...,...,...,...,...,...,...,...
1867,Destructions et dégradations volontaires,23,75,infraction,21,21,45464,6069352,"3621477,7251206725","7,49075024813192591"
1868,Destructions et dégradations volontaires,23,76,infraction,21,21,50295,6022176,"3714368,6486880812","8,35163236677240839"
1869,Destructions et dégradations volontaires,23,84,infraction,21,21,66041,8114361,"4619729,0582235549","8,13878012082528812"
1870,Destructions et dégradations volontaires,23,93,infraction,21,21,50220,5127840,"3185126,3594264346","9,79359730412805440"
1871,Destructions et dégradations volontaires,23,94,infraction,21,21,3155,347597,"261675,5902918616","9,07660307770205144"

In [49]:
df['unité.de.compte'].unique()

array(['victime', 'infraction', 'victime entendue', 'véhicule',
       'Mis en cause'], dtype=object)

In [9]:
df_vehicule = df[df['unité.de.compte'] == "véhicule"]

In [10]:
df_vehicule = df_vehicule.drop(columns= (['unité.de.compte', 'millPOP','millLOG','POP', 'LOG', 'tauxpourmille']))

In [11]:
df_infraction = df_infraction.drop(columns= (['unité.de.compte', 'millPOP','millLOG','POP', 'LOG', 'tauxpourmille']))

In [55]:
df_vehicule.to_csv('vehicules.csv')

In [56]:
df_infraction.to_csv('infractions.csv')

In [12]:
df_facts = df.groupby(['annee','unité.de.compte'])['faits'].sum()
df_facts

annee  unité.de.compte
16     Mis en cause         223361
       infraction           981278
       victime              730964
       victime entendue     709436
       véhicule             545267
17     Mis en cause         232882
       infraction           977428
       victime              753702
       victime entendue     713803
       véhicule             528871
18     Mis en cause         232452
       infraction           932232
       victime              796342
       victime entendue     702907
       véhicule             507721
19     Mis en cause         224592
       infraction           929596
       victime              871186
       victime entendue     723146
       véhicule             500886
20     Mis en cause         202006
       infraction           781977
       victime              888467
       victime entendue     551304
       véhicule             420585
21     Mis en cause         268112
       infraction           791426
       victime             1012686
       victime entendue     582635
       véhicule             425250
22     Mis en cause         300641
       infraction           816975
       victime             1133568
       victime entendue     660306
       véhicule             480304
23     Mis en cause         311236
       infraction           832164
       victime             1192633
       victime entendue     642143
       véhicule             487080
Name: faits, dtype: int64

In [13]:
df_facts = df_facts.reset_index()  # Transformer l'index en colonnes
df_facts.rename(columns={'faits': 'somme_faits'}, inplace=False)

    annee   unité.de.compte  somme_faits
0      16      Mis en cause       223361
1      16        infraction       981278
2      16           victime       730964
3      16  victime entendue       709436
4      16          véhicule       545267
5      17      Mis en cause       232882
6      17        infraction       977428
7      17           victime       753702
8      17  victime entendue       713803
9      17          véhicule       528871
10     18      Mis en cause       232452
11     18        infraction       932232
12     18           victime       796342
13     18  victime entendue       702907
14     18          véhicule       507721
15     19      Mis en cause       224592
16     19        infraction       929596
17     19           victime       871186
18     19  victime entendue       723146
19     19          véhicule       500886
20     20      Mis en cause       202006
21     20        infraction       781977
22     20           victime       888467
23     20  victime entendue       551304
24     20          véhicule       420585
25     21      Mis en cause       268112
26     21        infraction       791426
27     21           victime      1012686
28     21  victime entendue       582635
29     21          véhicule       425250
30     22      Mis en cause       300641
31     22        infraction       816975
32     22           victime      1133568
33     22  victime entendue       660306
34     22          véhicule       480304
35     23      Mis en cause       311236
36     23        infraction       832164
37     23           victime      1192633
38     23  victime entendue       642143
39     23          véhicule       487080

In [9]:
df_modif = df[(df['unité.de.compte']== 'victime') | (df['unité.de.compte']== 'infraction') | (df['unité.de.compte']== 'véhicule') ]

In [10]:
df_modif.head()

,classe,annee,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
0,Homicides,16,1,victime,16,16,32,394110,"226105,0475677566","0,08119560528786381"
1,Homicides,16,2,victime,16,16,18,376480,"211621,3569881222","0,04781130471738206"
2,Homicides,16,3,victime,16,16,41,269352,"88454,0619228487","0,15221717306721316"
3,Homicides,16,4,victime,16,16,14,852924,"363111,0760629498","0,01641412364993833"
4,Homicides,16,6,victime,17,17,10,256518,"73880,0000000000","0,03898361908326121"

In [12]:
df_modif = df_modif.drop(columns= (['classe', 'millPOP','millLOG','POP', 'LOG', 'tauxpourmille']))

In [13]:
df_modif.groupby(['annee','Code.région', 'unité.de.compte']).sum('faits')

                                   faits
annee Code.région unité.de.compte
16    1           infraction        7057
                  victime           6447
                  véhicule          3668
      2           infraction        4750
                  victime           5328
...                                  ...
23    93          victime          99534
                  véhicule         55780
      94          infraction        3638
                  victime           5044
                  véhicule          1225

[432 rows x 1 columns]

In [14]:
df_modif = df_modif.reset_index()  # Transformer l'index en colonnes
df_modif.rename(columns={'faits': 'total_faits'}, inplace=True)

In [17]:
df_modif = df_modif.drop(columns= 'index')

In [18]:
df_modif.to_csv('somme des crimes par an par departements.csv')